@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  height: 80px;
  border-radius: 20%;
  
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #fff1e5;
  font-weight: 400;
  font-size: 18px;
}

.cabecalho-menu-item:hover {
  color: black;
}

.conteudo {
  border-top: 0.4px solid #fff2e7;
  margin-bottom: 48px;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 30px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #fff2e7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ecd6c4;
}

.conteudo-principal-escrito-botao {
  background-color: #ecd6c4;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

 
}
.texto-botao {
  text-decoration: none;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2f2325;
}

.texto-botao:hover {
  color: black;
} 

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196 , 0.53);
}

.conteudo-principal-imagem {
  margin: 30px;
  height: 350px;
  border-radius: 50%;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  margin-bottom: 16px;

  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #FFF2E7;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #FFF2E7;
}

.rodape {
  border-top: 0.4px solid #FFF2E7;
  padding: 32px;

}

/*----- FOOTER -----*/

.footer {
  width: 100%;
  height: auto;
}

.footer .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
}

.footer .buttons .github {
  margin-right: 15px;
}

.footer .buttons .linkedin {
  margin-right: 15px;
}

.footer .buttons a {
  color: #FFF2E7;
}

.footer h4 {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  color: #FFF2E7;
}